<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangonion.mybatis.mapper.ShiroUserMapper">
  <resultMap id="BaseResultMap" type="com.yangonion.mybatis.bean.ShiroUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <select id="queryUserByName" resultMap="BaseResultMap">
    select
    id, name, password, status, createtime
    from shirouser
    where name = #{name}
  </select>
</mapper>